body{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

#upper{
    background:#008de1;
    height: 500px;

}

#firstline  button{
    color: #fff;
    background-color: #5db423;
    border: none;
    margin:10px 0 10px 15px;
    padding: 7px 14px;
    line-height: 12px;
    width: 76px;
    border-radius: 2px
}

#firstline a{
    color: #fff;
    font-size: 14px;
}

#opennewshop{
    float: right;
    /*margin-right: 100px;*/
}


.pull-right {
    float: right;
}

.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}

.no-border{
    border: none;
}

#upper #firstline{
    margin: 0 130px 0 130px; /*右侧距离不对*/
    padding: 25px 0 0 0;
    color: #fff;
    word-spacing:0.4em;
    line-height: 45px;
    width: 1480px;
}

.map-logo{
    text-align: center;
    position: relative;
    top: 27%;
}

.map-logo img{
    width: 280px;
    margin-bottom: 53px;

}

.city{
    font-size: 20px;
    height: 56px;
    
}
#city-select {
    font-size: 20px;
    width: 100px;
}

.citycenter{
    text-align: center;
    position: relative;
    top:27%;
    line-height: 56px;
    /*margin-top: 10px;*/
}

#city-details{
    width: 413px;
    padding: 0px 0px 0px 18px;
    font-size: 16px;
}

.citycenter select{
    
}
/*
.citycenter a:after {
    display: inline-block;
    top: 45%;
    right: 13px;
    margin-left: 5px;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
}
.citycenter a:after, .citycenter a:before {
    content: "";
    position: absolute;
}*/


.citycenter button{
    width: 128px;
    background-color: rgb(247, 67, 66);
    color: #fff;
    margin-left: 5px;
    line-height:45px; /*高度不一致*/
}

.mapfooter{
    width: 1180px;
}