<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="icon" href="http://static2.ele.me/eleme/desktop/media/img/favicon.png" type="image/png" sizes="96x96" author="Rose"/>
    <link rel="stylesheet" href="login.css"></link>
</head>

<body>
    <!--短信登录/密码登录-->
    <div id="loginMethod" class="tab-button">
        <button v-for="(loginway,key8,index8) in loginways" v-bind:key8=key8 v-bind:class="['login', { active:currentloginway === key8 }]"
            v-on:click="currentloginway=key8">{{ loginway }}</button>
        <keep-alive>
            <component v-bind:is="currentLoginComponent" class="Logindetails"></component>
        </keep-alive>
        <!--短信登录
        <p><input type="text" v-model="phonenumber" placeholder="手机号"></p>
        <p><input type="text" v-module="yanzhenma" placeholder="验证码"></p>
        -->
        <!--密码登录
        <p><input type="text" v-modle="loginaccount" placeholder="手机/邮箱/用户名"></p>
        <p><input type="text" v-modle="password" placeholder="密码"></p>
        -->
        <button class="Login tab">登录</button>
    </div>
    <div id="remind">
        温馨提示：未注册饿了么帐号的手机号，登录时将自动注册，且代表您已同意
        <!--link position need to update !!!! TBD -->
        <a href="eleagreement.html">《用户服务协议》</a>
    </div>
    <div id="eleowner">所有方：上海拉扎斯信息科技有限公司</div>
    <!--空格如何处理？？？-->
    <div id="footer-copyright">
        增值电信业务许可证 :
        <a href="http://www.shca.gov.cn/">沪B2-20150033</a>
        &nbsp;|&nbsp;域名备案:
        <a href="http://www.miibeian.gov.cn/">沪ICP备 09007032</a>
        &nbsp;|&nbsp;
        <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120305173227823" target="_blank">上海工商行政管理</a>
        Copyright ©2008-2018 ele.me, All Rights Reserved.
    </div>
    <div od="footer-police">
        <a href="http://www.zx110.org/picp/?sn=310100103568" title="要报警，请点这里！">
            <img src="http://shadow.elemecdn.com/faas/desktop/media/img/picp_bg.e373b3.jpg" alt="已通过沪公网备案，备案号 310100103568">
        </a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="login.js"></script>
<!--    <script src="https://unpkg.com/vue"></script>   -->

</html>